.center-block{
    width: 80%;
}
.header-color {
    background-color: #E8B51B;
!important;
    color: #343434;
!important;
}
.block-top{
    margin-bottom: 3%;
    margin-top: 2%;
}
.footer{
    background-color: #403000;
}
select {
    display: inline-block;!important;
}
footer{
    flex:1;
    width: 100%;
    height: 10%;
    background-color:white;
}
.main_block{
    flex:0;
    min-height: 80%;
}
body{
    display: flex;
    flex-direction: column;
}